@use "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--color-blue);
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}